// main: ../style.less

.release__how_it {
  padding-top: 156px;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: #424242;
}

.release__title_subtitle {
  margin-bottom: 187px;
}

.display {
  display: inline-block;
}

.release__title {
  margin-right: 136px;
  max-width: 584px;
}

.release__tit {
  font-weight: bold;
  font-size: 50px;
  line-height: 79px;
  color: #01996d;
}

.release_subtitle {
  max-width: 600px;
}

.release__sub {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #424242;
}

.release__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
  margin-bottom: 0;
}

.release__card {
  display: flex;//Смещение изображения при увеличении контента!
  flex-direction: column;//Смещение изображения при увеличении контента!
  grid-column: span 1;
}

.release__card_title {
  margin-bottom: 55px;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

.release__card_subtitle {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #424242;
}

.release__card_pic {
  margin: auto 0 0 0;//Смещение изображения при увеличении контента!
}
